/* From Uiverse.io by preshpi */
.spinner {
  width: 46px;
  height: 46px;
  display: grid;
  animation: spinnerCircle 3s infinite;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border: 9px solid;
  border-radius: 50%;
  border-color: #474bff #474bff #0000 #0000;
  mix-blend-mode: darken;
  animation: spinnerCircle 1s infinite linear;
}

.spinner::after {
  border-color: #0000 #0000 #dbdcef #dbdcef;
  animation-direction: reverse;
}

@keyframes spinnerCircle {
  100% {
    transform: rotate(1turn);
  }
}
