.inputGroup {
  position: relative;
}

.inputGroup input,
.inputGroup textarea {
  font-size: 100%;
  padding: 0.8rem;
  outline: none;
  border: 2px solid var(--input-border);
  background-color: transparent;
  border-radius: 10px;
  width: 100%;
}

.inputGroup textarea {
  resize: none;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8rem;
  margin-left: 0.5rem;
  pointer-events: none;
  transition: all 0.3s ease;
  color: var(--product-primary);
  font-weight: 500;
}

.inputGroup :is(input:focus, input:valid) ~ label,
.inputGroup :is(textarea:focus, textarea:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0;
  margin-left: 1.3rem;
  padding: 0.4rem;
  background-color: var(--white);
}

.inputGroup :is(input:focus, input:valid),
.inputGroup :is(textarea:focus, textarea:valid) {
  border-color: var(--product-primary);
}
