.featureContainer {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sectionHead h5 {
  font-size: 1.6rem;
  color: var(--primary-text);
  margin-bottom: 15px;
}

.featuresListContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  place-items: center;
}

.featuresList {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.featuresItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: var(--product-primary);
  padding: 0 1rem;
  color: var(--white);
}

.listItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: var(--product-primary);
  padding: 0 1rem;
  color: var(--white);
  transform: translateX(-100%);
  opacity: 0;
  transition: all 1s ease-out;
  margin-bottom: 1rem;
  padding: 1rem;
  /* background: white; */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.visible {
  transform: translateX(0);
  opacity: 1;
}

.listContainer {
  padding: 1rem;
}

.featuresItem span {
  font-size: 1.2rem;
}

.whyUsImage img {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .featureContainer {
    margin: 4rem auto;
    padding: 0 2rem;
  }
}

@media (max-width: 820px) {
  .featuresListContainer {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .featuresItem {
    padding: 1rem;
  }

  .featureContainer {
    align-items: center;
  }

  .sectionHead h5 {
    margin-bottom: 2rem;
  }
}
