.clientContainer {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 4rem;
}

.imageCardContainer {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.imageCardContainer img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
