.aboutUsContainer {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 4rem;
}

.sectionHeading h6 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  color: var(--primary-text);
}

.sectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 12rem;
}

.sectionImage img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sectionContent h6 {
  color: var(--secondary-text);
  font-size: 1.2rem;
  margin-bottom: -10px;
}

.sectionContent p:nth-child(2) {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--primary-text);
}

.sectionContent p:nth-child(3) {
  font-size: 1.2rem;
  line-height: 1.4;
  color: var(--secondary-text);
}
.sectionContent p:last-child {
  font-size: 1.2rem;
  line-height: 1.4;
  color: var(--secondary-text);
}

@media (max-width: 992px) {
  .aboutUsContainer {
    padding: 0 2rem;
  }

  .sectionContainer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .sectionImage {
    order: 2;
  }

  .sectionContent h6 {
    font-size: 1.2rem;
    text-align: center;
  }

  .sectionContent p:nth-child(2) {
    text-align: center;
    font-size: 2rem;
  }

  .sectionContent p:nth-child(3),
  .sectionContent p:last-child {
    text-align: center;
    font-size: 1rem;
  }
}

@media (max-width: 528px) {
  .aboutUsContainer {
    padding: 0 1.6rem;
    margin: 2rem auto;
  }

  .sectionContent h6 {
    font-size: 1rem;
  }

  .sectionContent p:nth-child(2) {
    font-size: 1.6rem;
  }
  .sectionContent p:nth-child(3),
  .sectionContent p:last-child {
    font-size: 0.9rem;
  }

  .sectionImage img {
    width: 15rem;
    height: 15rem;
  }
}
