.valuesContainer {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 4rem;
}

.sectionHeading h6 {
  text-align: center;
  color: var(--primary-text);
  margin-bottom: 3rem;
  font-size: 2.6rem;
}

.valueContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.valueCard {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-header);
  border: 1px solid var(--input-border);
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.valueCard img {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  margin-bottom: 15px;
}

.valueCard p {
  font-size: 1.2rem;
  color: var(--secondary-text);
  text-align: center;
}

@media (max-width: 992px) {
  .valuesContainer {
    padding: 0 2rem;
  }

  .sectionHeading h6 {
    text-align: center;
    font-size: 2rem;
  }

  .valueContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 628px) {
  .valueContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 528px) {
  .valuesContainer {
    padding: 0 1.6rem;
    margin: 2rem auto;
  }

  .sectionHeading h6 {
    font-size: 1.6rem;
  }
}
