.testimonialContainer {
  max-width: 1200px;
  margin: 8rem auto 4rem auto;
  padding: 0 4rem;
}

.testimonialGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.testimonialCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg-header);
  padding: 1.6rem;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.testimonialsImage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.testimonialsImage img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  background-color: var(--product-primary);
  border-radius: 50%;
}

.testimonialsImage span {
  text-align: right;
  font-size: 0.8rem;
}

.testimonialName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.testimonialName h6 {
  font-size: 1rem;
  color: var(--primary-text);
}

.testimonialName span {
  font-size: 1rem;
  color: var(--secondary-text);
}

.testimonialDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.testimonialDescription span {
  font-size: 1rem;
  color: var(--primary-text);
  font-weight: 700;
}

.testimonialDescription p {
  font-size: 0.9rem;
  color: var(--secondary-text);
}
