:root {
  --bg-light: #fff;
  --color-white: #fff;
  --color-primary: #181c24;
  --color-secondary: #303030;
  --color-tertiary: #555;
  /* --color-button-1: #00a859; */
  --color-button-1: #269e51;
  --color-button-2: #07864a;
  --color-button-3: #0d3422;
  --font-family-1: "Heltar Light";
  --color-theme: #1579bd;
  --background: linear-gradient(45deg, #1579bd, #8e44ad);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-1);
}

body {
  background-color: #f1f1f1;
}

/* @ HIDE ARROWS FROM NUMBER INPUT FIELD */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Kropotkin Light */
@font-face {
  font-family: "Kropotkin Light";
  src: url("./assets/fonts/kropotkin_light.ttf") format("truetype");
  font-weight: 400; /* Black weight is typically 900 */
  font-style: normal;
}

@font-face {
  font-family: "Heltar Light";
  src: url("./assets/fonts/Heltar-Light.ttf") format("truetype");
  font-weight: 400; /* Black weight is typically 900 */
  font-style: normal;
}
